    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span style="color: #03a9f4"><i class="fa fa-music" aria-hidden="true"></i></span>&nbsp;&nbsp;Guitarchords<span style="color: #03a9f4">.nl</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="nav-library" class="active"><a href="/"><i class="fa fa-university" aria-hidden="true"></i> Chord Library</a></li>
            <li id="nav-scales"><a href="scales.html"><i class="fa fa-braille" aria-hidden="true"></i> Chords by scale</a></li>
            <li id="nav-generator"><a href="generator.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> Sheet generator</a></li>
            <!-- <li><a href="#about">Song sheets</a></li> -->
            <!-- <li><a href="#contact">Contact</a></li> -->
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
